.quiz-end-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px) brightness(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.quiz-end-modal > div {
  color: var(--text-white);
}

.quiz-end-modal h1 {
  margin: 2rem;
  font-weight: 500;
}

.quiz-end-modal span {
  font-weight: bold;
}

.quiz-end-modal-cta button {
  color: var(--text-white);
}
